.form-fields select[name="modalidade"],
.form-fields input[type="time"] {
    width: 100%;
    padding: 1.2rem 1.8rem;
    border: .2rem solid var(--office-15);
    border-radius: 1.2rem;
}

.main-container form .label {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--Office);
    font-size: 1.8rem;
    font-weight: 500;
}

.day-toggles {
    display: flex;
    gap: .8rem;
    width: min-content;
}

.day-toggles input[type="checkbox"] {
    display: none;
}

.main-container .day-toggles label {
    width: min-content;
    display: flex;
    padding: .4rem .8rem;
    border: .2rem solid var(--office-15);
    border-radius: 999px;
    cursor: pointer;
    color: var(--office-30);
    transition: background-color .1s, color .1s, border-color .1s;
    user-select: none;
}

.day-toggles input[type="checkbox"]:checked + label {
    background-color: var(--citrino-25);
    border-color: transparent;
    color: var(--citrino-dark);
}

.main-container .time-inputs {
    display: flex;
    align-items: center;
    gap: .8rem;
}